@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
}

.header{
    margin-bottom: 50px;
}

.header__logo{
    height: 35px;
}

.content{
    text-align: center;
}

.ilustracion__logo{
    height: 225px;
    margin-bottom: 50px;
}

.title__h1{
    color: #FFF;
    font-size: 28px;
    font-family: 'Poppins';
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.parrafo{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.button{
    color: hsl(257, 40%, 49%);
    border: none;
    height: 45px;
    width: 250px;
    border-radius: 50px;
    font-size: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover{
    color: #FFF;
    background-color: hsl(300, 69%, 71%);
    cursor: pointer;
}

.social{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 75px auto;
    margin-bottom: 25px;
}

.social a i{
    display: flex;
    padding: 8px;
    color: #FFF;
    border-radius: 50%;
    border: 1px solid #FFF;
}

.social a i:hover{
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}

@media screen and (min-width: 769px){
    body{
        background-image: url('images/bg-desktop.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container{
        width: 90%;
        margin: 0 auto;
        margin-top: 35px;
    }
    
    .header__logo{
        height: 35px;
    }
    
    .content{
        text-align: left;
        display: flex;
        align-items: center;
        gap: 2rem;
        max-height: 575px;
    }

    .ilustracion{
        flex: 50%;
    }
    
    .ilustracion__logo{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    .second{
        flex: 50%;
    }
    
    .title__h1{
        color: #FFF;
        font-size: 28px;
        font-family: 'Poppins';
        font-weight: 600;
        text-align: left;
        margin-bottom: 15px;
    }
    
    .parrafo{
        color: #FFF;
        text-align: left;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 25px;
    }

    .button{
        width: 175px;
    }

    .social{
        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;
        width: 175px;
        margin: 50px auto;
        margin-right: 0;
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 1200px) {

    .ilustracion{
        flex: 60%;
    }

    .second{
        flex: 40%;
    }

    .title__h1{
        font-size: 32px;
    }
    .parrafo{
        max-width: 524px;
    }
}

@media screen and (min-width: 1440px){

    body{
        background-position: center;
        background-size: 100%;
    }

    .container{
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .header{
        margin-bottom: 100px;
    }
    
    .header__logo{
        height: 50px;
    }

    .ilustracion{
        flex: 65%;
    }

    .social{
        margin: 0 auto;
        margin-right: 0;
    }
}

.attribution { font-size: 11px; text-align: center; margin-top: 15px; margin-bottom: 25px;}

.attribution a { color: white; }